/*ПОДКЛЮЧАЕМ ВСЕ НУЖНЫЕ ШРИФТЫ*/
@font-face {
    font-family: 'lavanda';
    src: url(fonts/Lavanderia_Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe';
    src: url(fonts/Segoe.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alte';
    src: url(fonts/Alte_Haas.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'univers';
    src: url(fonts/Univers.otf);
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    min-width: 440px;
}

/*------------------------ПОЛЕТЕЛИ--------------------------------*/

#logonav { /*держит логотип и навигацию*/
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    max-height: 5.5vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
} 
header { /*полоса на весь экран на которой лого и навигация*/
    width: 100%;
    max-height: 5.5vw;
    background: white;
    opacity: 0.9;
    position: absolute;
    z-index: 1;
    padding: 20px 0 20px 0;
}
header ul { /*выравнием элементы внутри ul*/
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
header ul li a { /*даём ссылкам padding и другие свойства*/
    display: block;
    text-decoration: none;
    color: #817a7a;
    font-family: segoe;
    padding: 5px 40px 5px 40px;
    font-size:calc(12px + 0.21vw);
}
header ul li:last-child a { /*задаём последней ссылке отдельные свойства*/
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background: #de6d6e;
    margin-left: 40px;
}
header ul li:last-child a:hover { /*меняем ей цвет при навидении*/
    background: #e49a9a;
    transition: 0.3s background;
}
header ul li:last-child a:active { /*меняем ей цвет при нажатии*/
    background: #de6d6e;
}
#logo a { /*делаем логотип ссылкой, для перехода на главную страницу*/
    text-decoration: none;
    padding: 20px 20px 0 0;
}
#logo span { /*первая часть логотипа основанная на span*/
    font-size: 50px;
    font-family: lavanda;
    color: black;
    line-height: 25px;
}
#logo span:last-child { /*вторая часть логотипа, отдельный цвет*/
    color: #b73958;
}
#banner { /*блок в котором сидит картинка*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
}
#banner h1 { /*первый заголовок на баннере*/
    position: absolute;
    margin: 0;
    bottom: 20%;
    font-family: alte;
    text-transform: uppercase;
    font-size:calc(25px + 3vw);
    color: white;
    text-shadow: black 0 0 2px;
}
#banner span { /*второй заголовок на баннере*/
    position: absolute;
    margin: 0;
    bottom: 15%;
    font-size: 1.3vw;
    color: white;
    font-family: univers;
}
#banner img { /*делаем картинку резиновой*/
    width: 100%;
}

/*------------------------ШАПКА ВСЁ--------------------------------*/


/*------------------------ПОГНАЛИ КРУЖКИ---------------------------*/

#content-text { /*блок держащий наши тексты*/
    max-width: 1200px;
    text-align: center;
    margin: auto;
    color: #404040;
    margin-top: 60px
}
#content-text h1 { /*заголовок текста*/
    font-size: 35px;
    font-family: univers;
    font-weight: 100;
}
#content-text span { /*строчный элемент с текстом*/
    font-size: 17px;
    color: #636363;
    font-family: univers;
}
#content2 { /*блок держащий наши кружки*/
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 85px 0 55px 0;
}
#content2 div { /*Общие стили для кружков, размер и скругление*/
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
#tickets { /*ПЕВЫЙ КРУГ ---  TICKET*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background: #4eb9f4;
}
#tickets span {
    padding-top: 5px;
    font-size: 17px;
    font-family: univers;
}
#camera { /*ВТОРОЙ КРУГ ---  CAMERA*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background: #6fc125;
}
#camera span {
    padding-top: 5px;
    font-size: 17px;
    font-family: univers;
}
#instruction { /*ТРЕТИЙ КРУГ ---  BEER*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background: #ff5649;
}
#instruction span {
    padding-top: 5px;
    font-size: 17px;
    font-family: univers;
    opacity: 0.5;
}
#instruction h3 { /*Стили для текста в третем кругу*/
    position: absolute;
    width: 150px;
    font-size: 12px;
    font-family: univers;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    
}
#devices { /*ЧЕТВЕРТЫЙ КРУГ ---  DEVICES*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background: #e48f23;
}
#devices span {
    padding-top: 5px;
    font-size: 17px;
    font-family: univers;
}

/*------------------------КРУЖКИ ВСЁ--------------------------------*/

/*------------------------ПОГНАЛИ БЛОГ------------------------------*/

#blog { /*DIV BORDER ГРАДИЕНТ!!!*/
    max-width: 100%;
    background: linear-gradient(to top, #ffffff 0%, #999999 100%);
    height: 3px;
}
#blog1 { /*DIV который держит наш блог по определённой ширине*/
    max-width: 1200px;
    margin: auto;
}
.bloger { /*DIV в котором находится картинка с текстом*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.bloger img { /*Чтобы картинка не изменялась с экраном по высоте*/
    height: 100%;
}
.bloger .text {
    margin-left: 3%;
    width: 80%;
}
.bloger h2 {
    display:inline-block;
    margin: 0;
    color: #404040;
    font-size: 27px;
    font-family: univers;
    font-weight: normal;
}
.bloger span {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    font-family: univers;
    margin-top: 2%;
}

/*------------------------МЫ ЕГО СДЕЛАЛИ---------------------------*/

/*------------------------ФИГАЧИМ FOOTER---------------------------*/

#shirina-all { /*DIV на всю ширину с фоном*/
    width: 100%;
    background: #26262d;
    padding: 40px 0 ;
}
#shirina-all #footer-content {
    padding: 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
}
#shirina-all .sub-menu {
    width: 18%;
    color: #aeaeae;
}
#shirina-all .sub-menu:last-child {
    width: 28%;
    text-align: right;
}
#shirina-all .sub-menu h3 {
    margin: 0;
    font-size: 21px;
    font-family: univers;
    font-weight: normal;
    user-select: none;
}
#shirina-all .sub-menu span {
    display: table-caption; /*каждое слово SPAN в отдельно строке*/
    line-height: 1.5;
    font-size: 17px;
    color: #8b8b8b;
    font-family: univers;
    padding: 20px 0 0 10px;
    user-select: none;
}
#shirina-all .sub-menu a {
    text-decoration: none;
    color: #8b8b8b;
}
#shirina-all .sub-menu:last-child img {
    width: 60px;
    margin: 5% 0 0 6%;
}
#shirina-all .sub-menu:last-child span {
    display: block;
    text-align: right;
    font-family: univers;
    letter-spacing: 2px;
    user-select: none;
    font-size:calc(12px + 0.3vw);
}

/*------------------------Делаем MEDIA---------------------------*/

@media (max-width: 1187px) {
    .bloger .text {
        margin: 0;
    }
}
@media(max-width: 1011px) {
    .bloger .text {
        width: 100%;
    }
}
@media(max-width: 846px){
    #banner span { /*убираем нижний текст на баннере, мелкий сильно*/
        display: none;
    }
    #content2 div { /*меняем размер кружков*/
        width: 20vw;
        height: 20vw;
    }
    #content2 div img {
        width: 10vw;
    }
    #content2 div span { /*меняем размер текстов*/
        font-size: 3vw;
    }
    #content2 div h3 { /*размер текста на кружке BEER*/
        font-size: 1vw;
    }
}
@media (max-width: 685px) { /*меняем позицию текста на баннере*/
    #content2 div h3 { /*убираем мелкий текст на кружке Beer*/
        display: none;
    }
    #shirina-all .sub-menu h3 { /*Меняем наше Sub-Menu текста картинки и др.*/
        font-size: 3vw;
    }
    #shirina-all .sub-menu span {
        font-size: 2vw;
    }
    #footer-content .sub-menu:last-child img {
        width: 40px;
    }
    #footer-content .sub-menu:last-child span {
        font-size: 2vw;
    }
}

@media (max-width: 839px) {
    header {
        position: static;
    }
    #banner img {
        display: none;
    }
    #banner {
        margin-top:calc(70px + 5vw);
    }
    #banner h1 {
        color: black;
        text-shadow: none;
    }
    header ul {
        width: 100%;
        justify-content:space-between;
    }
    header ul li a {
        padding: 5px 23px 5px 23px;
    }
    #content-text{
        margin: 0;
    }
    #content2 {
        padding: 20px 0 20px 0;
    }
    #logo span {
        font-size: 50px;
    }
}
/*------------------------НУ КАК ТО ТАК   ¯\_(ツ)_/¯ ---------------------------*/